<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="clearfix">
    <%= f.label :name, :for => "xlInput" %>
     <div class="input">
      <%= f.text_field :name %>
    </div>
  </div> 
  <div class="clearfix">
    <%= f.label :address, :for => "xlInput" %>
     <div class="input">
      <%= f.text_field :address %>
    </div>
  </div> 
  
  <div class="clearfix">
    <%= f.label :city, :for => "xlInput" %>
     <div class="input">
      <%= f.text_field :city %>
    </div>
  </div> 
  <div class="clearfix">
    <%= f.label :state, :for => "xlInput" %>
     <div class="input">
      <%= f.text_field :state %>
    </div>
  </div>  
  
  <div class="clearfix">
    <%= f.label :phone, :for => "xlInput" %>
     <div class="input">
      <%= f.text_field :phone %>
    </div>
  </div> 
  <div class="clearfix">
    <%= f.label :url, :for => "xlInput" %>
     <div class="input">
      <%= f.text_field :url %>
    </div>
  </div>  

  <div class="clearfix">
    <%= f.label :description, :for => "xlInput" %>
     <div class="input">
      <%= f.text_area :description, :rows => '3', :class => 'xxlarge' %>
    </div>
  </div> 

  <div class="clearfix input">
    <% Category.order(:name).each do |category| %>
      <div class="pull-left">
        <div class="input-prepend">
          <label class="add-on">
            <%= check_box_tag "business[category_ids][]", category.id, @business.categories.include?(category) %>
          </label>
          <input class="large uneditable-input" name="prependedInput2" id="prependedInput2" size="30" type="text" value="<%= category.name %>" >
        </div>
      </div>
    <% end %>
  </div>

  <div class="clearfix">
    <div class="input">
      <%= f.submit "Go!", :class =>"btn small primary" %>
    </div>
  </div>

<% end %>
