<div class="container">

  <div class="row">
    <div class="span14">
    <h3> Your source for contractors! </h3>
    </div>
  </div>

  <div class="row">
    <div class="span14" style="background:#eeedef;">
      <form action="" class="form-stacked">
        <div class="row">
          <div class="span5">
            <label for="search">Search for <span>(e.g. landscaping, electrician, tile)</span></label>
            <input class="xlarge" id="search" name="search" size="30" type="text">
          </div>        
          <div class="span5">  
            <label for="search_near">Near <span>(Address, City, State or Zip)</span></label>
            <input class="xlarge" id="search_near" name="search_near" size="30" type="text">
          </div>          
          <div class="span2" style="vertical-align:middle"> 
            <label for="search_button">&nbsp</label>
            <%= submit_tag "Search", :name => "search", :class => "btn medium primary" %>
          </div>          
        </div>
      </form>
    </div>
  </div>


  <div class="row"><div class="span14">&nbsp</div></div>
  <div class="row">
    <div class="span14">
      <h3><%= @list_header %> </h3>
    </div>
  </div>
  <div class="row">
    <div class="span14">
      <% if @businesses.empty? then %>
        <div class="row"><div class="span14">No businesses matched your search. Try another search or <%= link_to 'add a new business', new_business_path %></div>
      <% else %>
        <div class="row"><div class="span14"><%= gmaps4rails(@json) %></div></div>
        <div class="row"><div class="span14">&nbsp</div></div>
        <div class="row">
          <div class="span14">
           <table>
            <tr>
              <th>Business</th>
              <th>S</th>
              <th>Q</th>
              <th>U</th>
              <th>A</th>
              <th>W</th>
              <th>K</th>
              <th>Total</th>
              <th>City</th>
              <th>State</th>
              <th>Distance</th>
            </tr>
          <% @businesses.each do |b| %>
            <tr>
              <td><%= link_to b.name, b %></td>
              <td><%= !b.reviews.blank? ? (b.reviews.average(:speed)): "N/A" %></td>
              <td><%= !b.reviews.blank? ? (b.reviews.average(:quality)): "N/A" %></td>
              <td><%= !b.reviews.blank? ? (b.reviews.average(:usability)): "N/A" %></td>
              <td><%= !b.reviews.blank? ? (b.reviews.average(:affordability)): "N/A" %></td>
              <td><%= !b.reviews.blank? ? (b.reviews.average(:warranty)): "N/A" %></td>
              <td><%= !b.reviews.blank? ? (b.reviews.average(:kindness)): "N/A" %></td>
              <td><%=  !b.reviews.blank? ? (b.reviews.average(:speed)+ b.reviews.average(:quality) + b.reviews.average(:usability) +
                        b.reviews.average(:affordability) + b.reviews.average(:warranty) + b.reviews.average(:kindness)).to_int : "N/A" %></td>
              <td><%= b.city %></td>
              <td><%= b.state %></td>
              <td><%= !params[:search_near].blank? ? b.distance.round(1).to_s + " miles" : "N/A" %></td>
            </tr>
          <% end %>
          </table>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span14">
      <p><%= link_to 'New business', new_business_path %></p>
      <p><%= link_to 'New job', root_path %></p>
    </div>
  </div>
</div>
 




