<div id="formReview" >
  <%= form_for([@business, @business.reviews.build], :html => { :style => 'background-color:lightgrey;' }) do |f| %>
    <table align="center" >
      <thead>
        <tr>
          <th><a data-original-title="Speed" rel="popover" data-content="Did they get the work done quickly?
           5 for Really Fast, 
           4 for Fast Enough, 
           3 for Average, 
           2 for Somewhat Slow, 
           1 for Really Slow">S</a></th>
          <th><a data-original-title="Quality" rel="popover" data-content="Did they do a good job?  5 for Really Nice, 4 for Good Enough, 3 for Average, 2 for Somewhat OK, 1 for Really Bad">Q</a></th>
          <th><a data-original-title="Usability" rel="popover" data-content="Are they easy to contact and schedule? Do they return calls same day? Can they be scheduled for same week appointments? 5 for Really Easy, 4 for Easy Enough, 3 for Average, 2 for Somewhat Hard to Use, 1 for Too Busy.">U</a></th>
          <th><a data-original-title="Affordability" rel="popover" data-content="Do they give the best prices? 5 for Always The Best Price, 4 for Pretty Good Deal, 3 for Average, 2 for A Bit Expensive, 1 for Too Expensive.">A</a></th>
          <th><a data-original-title="Warranty" rel="popover" data-content="Do they stand behind their work?  How good are they at fixing problems that arise?  5 for Excellent At Getting Problems Fixed, 4 for Good Enough, 3 for Average, 2 for Below Average, 1 for.">W</a></th>
          <th><a data-original-title="Kindness" rel="popover" data-content="Are they kind, careful, and clean?  5 for Very Professional, 4 for Careful Enough, 3  for Average, 2 for Somewhat Unkind, 1 for Very Unproffesional">K</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.select :speed, 1..5, {:selected => '3' }, :class => 'tiny' %></td>
          <td><%= f.select :quality, 1..5, {:selected => '3' }, :class => 'tiny' %></td>
          <td><%= f.select :usability, 1..5, {:selected => '3' }, :class => 'tiny' %></td>
          <td><%= f.select :affordability, 1..5, {:selected => '3' }, :class => 'tiny' %></td>
          <td><%= f.select :warranty, 1..5, {:selected => '3' }, :class => 'tiny' %></td>
          <td><%= f.select :kindness, 1..5, {:selected => '3' }, :class => 'tiny' %></td>
        </tr>
        <tr>
          <td colspan="6"><%= f.text_area :comments, :rows => '3', :class => 'xlarge' %></td>
        </tr>
        <tr>
          <td colspan="6"><%= f.submit "Review this business", :class =>"btn medium primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>