<!DOCTYPE html>
<html>
<head>
  <title>Squawkem</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
  		<div class="span16">
    		<p id="notice" class="alert-message warning"><%= notice %></p>
  		</div>
		</div>
	  <div class="row">
	  	<div class="span1">&nbsp</div>
	   	<div class="span14">
				<%= render 'layouts/header' %>
				<br/>
			  <%= yield %>
				<%= render 'layouts/footer' %>
				<%= yield :scripts %>
				<%= debug(params) if Rails.env.development? %>
			</div>
			<div class="span1">&nbsp</div>
		</div>
	</div>
</body>
</html>


